* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsl(185deg, 41%, 84%);
  font-family: 'Space Mono', sans-serif;
}

.wrapper {
  padding: 0.5em 0;
  max-width: 1024px;
  margin: 0 auto;
}

header {
  padding: 2em 0;
  text-align: center;
}

header .logo {
  margin: 0 auto;
}

main {
  background: white;
  border-radius: 1.2em;
  padding: 2.2em 1.7em;
}

main .calculator {
  position: relative;
}

main .calculator label {
  display: block;
  margin-bottom: 0.5em;
  color: hsl(186deg, 14%, 43%);
  cursor: pointer;
}

main .calculator .input {
  position: relative;
}

main .calculator .input img {
  position: absolute;
  top: 30%;
  left: 1em;
  z-index: 100;
}

main .calculator .input input[type='text'] {
  position: relative;
  width: 100%;
  padding: 0.3em 0.5em;
  border-radius: 0.3em;
  font-size: 24px;
  font-family: 'Space Mono';
  text-align: right;
  border: none;
  background: hsl(189deg, 41%, 97%);
  outline: none;
}

main .calculator .bill,
main .calculator .people-num {
  margin: 1em 0;
}

main .calculator .tip {
  margin: 2em 0;
}

main .calculator .tip .tip-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(136px, 1fr));
  place-content: center;
  grid-gap: 1em;
  /* Hide the browser's default checkbox */
}

main .calculator .tip .tip-container input[type='radio'] {
  display: none;
}

main .calculator .tip .tip-container input[type='radio']:checked+.tip-label {
  background: hsl(172deg, 67%, 45%);
  color: hsl(183deg, 100%, 15%);
}

main .calculator .tip .tip-container label {
  margin: 0;
  padding: 0.3em 0;
  text-align: center;
  color: white;
  background-color: hsl(183deg, 100%, 15%);
  border-radius: 0.3em;
  font-size: 24px;
  font-weight: bold;
}

main .calculator .tip .tip-container input[type='text'] {
  border: none;
  text-align: center;
  font-family: 'Space Mono';
  font-size: 24px;
  font-weight: bold;
}

main .display {
  border-radius: 0.5em;
  padding: 2em 1em;
  color: white;
  background: hsl(183deg, 100%, 15%);
}

main .display .bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2em;
}

main .display .bar .info h5 {
  color: hsl(186deg, 14%, 43%);
}

main .display .bar h2 {
  color: hsl(172deg, 67%, 45%);
  font-size: 2.1rem;
}

main .display button {
  width: 100%;
  border: none;
  background: hsl(172deg, 67%, 45%);
  color: hsl(183deg, 100%, 15%);
  padding: 1em;
  border-radius: 0.3em;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

@media (min-width: 768px) {
  main {
    padding: 2em;
    width: 90%;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  main {
    display: flex;
    justify-content: space-between;
  }

  main .calculator {
    width: 47%;
  }

  main .display {
    height: inherit;
    width: 50%;
    position: relative;
    padding: 2em;
  }

  main .display button {
    position: absolute;
    bottom: 2em;
    left: 1.5em;
    width: 87%;
  }
}

@media (min-width: 1200px) {
  main {
    width: 100%;
  }
}

footer {
  padding: 1em 0;
  text-align: center;
  font-family: sans-serif;
}

footer a {
  color: hsl(172deg, 67%, 45%);
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */